<div class="container_24">
    <div class="wrapper">
        <article class="grid_17 suffix_1">
            <h2 class="bot-1">{$lang_vars.contacts}</h2>
            <figure class="map_wrapper figure">
                <iframe width="470" height="386" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D0%B1%D1%83%D0%B4%D0%B3%D0%BE%D1%80%D0%BE%D0%B4%20%D1%83%D0%BB%D0%B8%D1%86%D0%B0%20%D0%BD%D0%B8%D0%BA%D0%BE%D0%BB%D0%B0%D1%8F%20%D1%87%D1%83%D0%BC%D0%B8%D1%87%D0%B5%D0%B2%D0%B0%2058%D0%B0&key=AIzaSyAuPZYsEdk00vMqZtPmwu8sJvaaisx5Roo"></iframe>
            </figure>
            <div class="div-adress">
                <dl class="adress">
                    <dt><strong>{$lang_vars.address}</strong></dt>
                    <dd><span>{$lang_vars.phone}</span>+7 4722 50 63 13</dd>
                    <dd><span>{$lang_vars.phone}</span>+7 903 887 12 22</dd>
                    <dd>E-mail: bel31stroy@mail.ru</dd>
                </dl>
            </div>
            <div class="clear"></div>
        </article>
    </div><!--//wrapper-->

</div>
