<table id="attic-stairs-table" class="table table-striped">
    <thead>
        <tr>
            <th>{$name}</th>
            <th width="30"></th>
        </tr>
    </thead>
    {foreach $stairs as $stair}
    <tr>
        <td>
            <a href="/admin_panel/attic_stairs/{$category}/edit_form/{$stair['id']}">
                {$stair['name']}
            </a>
        </td>
        <td>
            <button id="delete-btn" data-param="{$stair['id']}" class="btn btn-danger btn-xs">{$delete}</button>
        </td>
    </tr>
    {/foreach}
</table>
<a class="btn btn-primary" href="/admin_panel/attic_stairs/{$category}/add_form">{$add}</a>