<form id="attic-stairs-edit-form" action="/admin_panel/attic_stairs/{$category}/edit/{$id}">
    <input type="hidden" name="category" value="{$category}"/>
    <input type="hidden" name="id" value="{$id}"/>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="name">{$name}</label>
                <input value="{$stair['name']}" id="name" name="name" class="form-control" type="text"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="preview">{$preview}</label>
                <input id="preview" name="preview" type="file"/>
                <img style="max-width: 160px; max-height: 160px" src="{$stair['preview']}" alt=""/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="article">{$article}</label>
                <textarea id="article" name="article" class="form-control">
                    {$stair['article']}
                </textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <input class="btn btn-success" value="{$save}" type="submit"/>
            </div>
        </div>
    </div>
</form>