<form id="attic-stairs-add-form" action="/admin_panel/attic_stairs/{$category}/add">
    <input type="hidden" name="category" value="{$category}"/>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="name">{$name}</label>
                <input id="name" name="name" class="form-control" type="text"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <label for="preview">{$preview}</label>
                <input id="preview" name="preview" type="file"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="article">{$article}</label>
                <textarea id="article" name="article" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <input class="btn btn-success" value="{$add}" type="submit"/>
            </div>
        </div>
    </div>
</form>