<form id="edit-album" action="/admin_panel/gallery/{$gallery}/{$album}/load_images">
    <input name="gallery" value="{$gallery}" type="hidden"/>
    <input name="album" value="{$album}" type="hidden"/>
    <div class="row">
        <div class="col-lg-4 padding-right-5px">
            <input name="photos" readonly class="form-control" id="photos-names" type="text"/>
        </div>
        <div class="col-lg-4 padding-0">
            <button class="btn btn-primary" id="select-photo">{$select_photo}</button>
        </div>
        <input name="images" type="file" multiple class="opacity-0"/>
    </div>
    <div class="row">
        <div id="thumbnails">
            {foreach $images as $image}
            <div class="thumbnail display-inline-block">
                <img id="album-preview-img" src="{$image}?q={1|rand:10000}" alt=""/>
                <div class="caption">
                    <button id="remove-img" data-gallery="{$gallery}" data-album="{$album}" class="btn btn-danger btn-xs">{$remove}</button>
                    <button id="make-cover" data-gallery="{$gallery}" data-album="{$album}" class="btn btn-info btn-xs">{$make_cover}</button>
                </div>
            </div>
            {/foreach}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="{$save}"/>
            </div>
        </div>
    </div>
</form>