<div id="gallery">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div id="gallery-preview-img" class="bg-grey">&nbsp;</div>
            <div class="caption">
                <a href="/admin_panel/gallery/{$gallery_name}/add_album" id="add-album" class="btn btn-primary">{$add}</a>
            </div>
        </div>
    </div>
    {foreach $gallery as $album}
    <div class="col-sm-6 col-md-4">
        <a class="thumbnail" href="/admin_panel/gallery/{$gallery_name}/{$album['name']}">
            <img id="gallery-preview-img" src="{$album['cover']}?q={1|rand:10000}" alt=""/>
            <div class="caption">
                <button id="remove-album" data-gallery="{$gallery_name}" data-album="{$album['name']}" class="btn btn-danger">{$remove}</button>
            </div>
        </a>
    </div>
    {/foreach}
</div>