<ul id="left-menu" class="nav nav-pills nav-stacked">
    <li {if $url == '/admin_panel'}class="active"{/if}>
        <a href="/admin_panel">{$users}</a>
    </li>
    <li {if $url == '/admin_panel/gallery/houses'}class="active"{/if}>
        <a href="/admin_panel/gallery/houses">{$houses}</a>
    </li>
    <li {if $url == '/admin_panel/gallery/stairs'}class="active"{/if}>
        <a href="/admin_panel/gallery/stairs">{$stairs}</a>
    </li>
    <li {if $url == '/admin_panel/gallery/roofing'}class="active"{/if}>
        <a href="/admin_panel/gallery/roofing">{$roofing}</a>
    </li>
    <li {if $url == '/admin_panel/gallery/windows'}class="active"{/if}>
        <a href="/admin_panel/gallery/windows">{$windows}</a>
    </li>
    <li {if $url == '/admin_panel/gallery/recent_works/b4b27505718e7f8d237509f9ed70be4c'}class="active"{/if}>
        <a href="/admin_panel/gallery/recent_works/b4b27505718e7f8d237509f9ed70be4c">{$recent_works}</a>
    </li>
    <li {if $url == '/admin_panel/attic_stairs/facro'}class="active"{/if}>
        <a href="/admin_panel/attic_stairs/facro">{$stairs_facro}</a>
    </li>
    <li {if $url == '/admin_panel/prices'}class="active"{/if}>
        <a href="/admin_panel/prices">{$prices}</a>
    </li>
    <li {if $url == '/admin_panel/news'}class="active"{/if}>
        <a href="/admin_panel/news">{$news}</a>
    </li>
</ul>