<div id="prices" class="margin-bottom-30px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{$name}</th>
                <th>{$file}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {foreach $prices as $el}
        <tr>
            <td>
                <a href="#" id="name" data-pk="{$el['id']}" data-type="text" data-url="/admin_panel/edit_price">{$el['name']}</a>
            </td>
            <td>
                <a href="#" id="file" data-pk="{$el['id']}" data-type="text" data-url="/admin_panel/edit_price">{$el['file']|basename}</a>
            </td>
            <td width="40">
                <button class="btn btn-danger btn-xs" id="delete-price" data-id="{$el['id']}">{$delete}</button>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <button class="btn btn-primary" id="toggle-add-form">{$new_price}</button>
    <form class="form-inline margin-top-30px hide" id="add-price-form" action="/admin_panel/add_price">
        <div class="form-group">
            <label for="price-name">{$name}</label>
            <input name="name" type="text" class="form-control" id="price-name" />
        </div>
        <div class="form-group">
            <input name="price" type="file"/>
        </div>
        <input class="btn btn-info" type="submit" value="{$add}"/>
    </form>
</div>