<div id="carousel" class="es-carousel-wrapper">
    <div class="es-carousel">
        <ul>
            {foreach $data as $el}
            <li>
                <figure class="figure-img">
                    {if $el['caption']}
                    <a href="{$el['caption']['link_more']}">
                        <img src="{$el['src']}" alt="">
                    </a>
                    {else}
                    <a><img height="149" src="{$el['src']}" alt=""/></a>
                    {/if}
                </figure>
                {if $el['caption']}
                <h3>{$el['caption']['name']}</h3>
                <p>
                    {$el['caption']['text']|substr:0:200}
                    <a href="{$el['caption']['link_more']}" class="link"></a>
                </p>
                {/if}
            </li>
            {/foreach}
        </ul>
    </div>
</div>
<script>
    (function() {
        'use strict';

        var init_slider = function() {
            $( '#carousel' ).elastislide();
        };
        if(typeof jQuery == 'undefined') {
            document.addEventListener("DOMContentLoaded", init_slider);
        } else {
            init_slider();
        }
    })();
</script>