<div id="grid-gallery" class="grid-gallery">
    <section class="grid-wrap">
        <ul class="grid">
            <li class="grid-sizer"></li><!-- for Masonry column width -->
            {foreach $images as $image}
            <li>
                <figure>
                    <img src="{$image}" alt=""/>
                </figure>
            </li>
            {/foreach}
        </ul>
    </section>
    <section class="slideshow">
        <ul>
            {foreach $images as $image}
            <li>
                <figure>
                    <img src="{$image}" alt=""/>
                </figure>
            </li>
            {/foreach}
        </ul>
        <nav>
            <span class="icon icon-arrow-left nav-prev"></span>
            <span class="icon icon-arrow-right nav-next"></span>
            <span class="icon icon-cross nav-close"></span>
        </nav>
    </section>
</div>
<script>
    (function() {
        'use strict';

        var init_gallery = function() {
            new CBPGridGallery(document.getElementById( 'grid-gallery' ));
        };
        if(typeof CBPGridGallery == 'undefined') {
            var interval = setInterval(function () {
                if(typeof CBPGridGallery != 'undefined') {
                    init_gallery();
                    clearInterval(interval);
                }
            }, 100);
        } else {
            init_gallery();
        }
    })();
</script>
