<div id="carousel" class="es-carousel-wrapper">
    <div class="es-carousel">
        <ul>
            {foreach $album.images as $image}
            <li>
                <figure class="figure-img">
                    {if isset($image.caption)}
                        <a href="{$image.caption.link_more}">
                            <img src="{$image}" alt="">
                        </a>
                    {else}
                        <a><img class="height-149px" src="{$image}" alt=""/></a>
                    {/if}
                </figure>
                {if isset($image.caption)}
                <h3>{$image.caption.name}</h3>
                <p>
                    {$image.caption.text|substr:0:200}
                    <a href="{$image.caption.link_more}" class="link"></a>
                </p>
                {/if}
            </li>
            {/foreach}
        </ul>
    </div>
</div>
<script>
    (function() {
        'use strict';

        var init_slider = function() {
            $( '#carousel' ).elastislide();
        };
        if(typeof jQuery == 'undefined') {
            document.addEventListener("DOMContentLoaded", init_slider);
        } else {
            init_slider();
        }
    })();
</script>