<div class="container_24">
    <div class="wrapper">
        <article class="grid_24">
            <h2 class="bot-1">{$lang_vars.attic_stairs} {$category_name}</h2>
        </article>
    </div>
    <div class="wrapper box-1">
        {foreach $stairs as $stair}
        <a class="grid_4" href="/constructions/attic_stairs/{$category_name}/{$stair.id}">
            <figure class="figure-img">
                <img class="max-height-448px" height="160" src="{$stair.preview_img}" alt=""/>
            </figure>
            <h3 class="bot-2">
                {$stair.name}
            </h3>
        </a>
        {/foreach}
    </div>
</div>