<div class="container_24">
    <div class="wrapper">
        {function is_content_editable is_admin=false}
            {if $is_admin}
                contenteditable="true"
                data-save-url="/action/articles/update/{$stair.id}"
            {/if}
        {/function}
        <article class="grid_17 suffix_1">
            <h2 class="bot">{$stair.name}</h2>
            <div {is_content_editable is_admin=$is_admin} class="img-indent block-img">
                {$stair.text}
            </div>
        </article>
    </div>
</div>