<div class="container_24">
    <div class="wrapper">
        <article class="grid_17 suffix_1">
            <h2 class="bot">{$stair['name']}</h2>
            <div class="img-indent block-img">
                {$stair['article']}
            </div>
        </article>
    </div>
</div>