html{overflow:auto;}
.div-search, #search .search_button, .button, 
 .img-indent-1 img, #contact-form textarea, 
 #contact-form input, .banner-button{behavior:url(js/PIE.htc);position: relative;}

.button{padding:8px 19px 9px 19px;  }

.flex-control-nav, .sf-menu li li ul, .sf-menu>li>ul, #contact-form .success{behavior:url(js/PIE.htc);}
.img-indent h3{white-space: nowrap;}