<div class="main-slider">
    <div class="container_24">
        <div class="flexslider clearfix">
            <ul class="slides">
                {foreach $data as $el}
                <li>
                    <img alt="" height="470" src="{$el['src']}">
                    {if $el['caption']}
                    <div class="flex-caption">
                        <div class="banner">
                            <div class="inner">
                                <span>{$el['caption']['name']}</span>
                                <div class="wrapper">
                                    <div class="fleft">
                                        {$el['caption']['text']|substr:0:200}
                                    </div>
                                    <a href="{$el['caption']['link_more']}" class="banner-button">
                                        {$more}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/if}
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>
<script>
    (function() {
        'use strict';

        var init_slider = function() {
            jQuery('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                slideshowSpeed: 7000,
                animationDuration: 600,
                prevText: "",
                nextText: "",
                controlNav: true
            });
        };
        if(typeof jQuery == 'undefined') {
            document.addEventListener("DOMContentLoaded", init_slider);
        } else {
            init_slider();
        }
    })();
</script>