body
    background #fff


.display-block
    display block



.display-inline-block
    display inline-block


.hide
    display none


.border-radius-none
    border-radius 0 !important


.cursor-pointer
    cursor pointer

.link
    &--pseudo
        cursor pointer
        border-bottom 1px dotted currentColor

        &:hover
            text-decoration none

.max-width-242px
    max-width 242px

.max-height-200px
    max-height 200px

.width-216px
    width 216px

.height-162px
    height 162px

.height-149px
    height 149px

.height-470px
    height 470px

.max-height-448px
    max-height 448px

.bg-grey
    background #e5e5e5

.opacity-0
    opacity 0

.margin-top-30px
    margin-top 30px

.margin-bottom-30px
   margin-bottom 30px

.gallery-preview-img
    width 216px
    height 162px !important

.album-preview-img
    width 150px
    height 110px !important
