{function 'is_users_active' url=''}
    {if $url|strpos:'users'}
        active
    {elseif $url == '/admin_panel'}
        active
    {/if}
{/function}
{function is_galleries_active url=''}
    {if $url|strpos:'galleries'}
        active
    {/if}
{/function}
<ul id="left-menu" class="nav nav-pills nav-stacked">
    <li class="{is_users_active url=$url}">
        <a href="/admin_panel/users">{$lang_vars.users}</a>
    </li>
    <li class="{is_galleries_active url=$url}">
        <a href="/admin_panel/galleries">{$lang_vars.galleries}</a>
    </li>
</ul>