/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

.slides li {position:relative;}
/* FlexSlider Default Theme
*********************************/
.main-slider{
	position:relative;
	background: url(../images/bg-slider.jpg) center 0 repeat-x;
	padding: 30px 0 40px 0;
	margin-bottom: 45px;
	z-index: 1;
	}
.main-slider:before{
	background: url(../images/slider-before.png) 0 0 repeat-x;
	height: 24px;
	display: block;
	position: absolute;
	width: 100%;
	content: '';
	bottom: -24px;
	left: 0;
}
.main-slider:after{
	background: url(../images/slider-after.jpg) 0 0 repeat-x;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10px;
	width: 100%;
}
.flexslider {
	margin:0; 
	position: relative;
	padding:10px;
	background:#fff;
	height:368px;
	max-width:930px;
	margin:0 auto ;
	height:470px;
	}
.flex-viewport {}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
/*.flex-direction-nav a {
	width: 30px; 
	height: 30px; 
	margin: 0px 0 0; 
	display: block; 
	background: url(images/bg_direction_nav.png) no-repeat 0 0; 
	position: absolute; 
	top: 50%; 
	cursor: pointer; 
	text-indent: -9999px;
	}*/
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {right: 5px;}
.flexslider:hover .flex-prev {left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {}
.flex-direction-nav .disabled {cursor: default;}

.flex-caption{
	position: absolute;
	left:20px;
	bottom:20px;
}
.banner{
	width:400px;
	z-index:10;
	background: url(../images/bg-caption.png) 0 0 repeat;
	}
.inner{padding:15px 17px 15px 20px;}
.inner span{
	color: #4e3f2b;
	font-family: 'Passion One', cursive;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.2em;
	text-transform: uppercase;
	display: block;
	margin-bottom: 10px;
}
.inner .wrapper{position: relative;}
.inner .fleft{width: 270px;}

	.banner-button{
		display: inline-block;
		background:  url(../images/banner-a.jpg) 0 0 repeat-x #de9e00;
		border: 1px solid #d6a01c;
		font-size: 11px;
		line-height: 1.2em;
		text-transform: uppercase;
		color: #fff;
		font-weight: bold;
		margin: 5px 3px 0 0;
		padding: 8px 19px 7px;
		border-radius: 30px;
		float: right;
	}
	.banner-button:hover{
		background: url(../images/banner-a-hov.jpg) 0 0 repeat-x #e4d9cf;
		border: 1px solid #f9f8f6;
		color: #81716b;
		box-shadow:0 1px 4px rgba( 65, 44, 44,0.4);
	}

/* Control Nav */
.flex-control-nav {
	display: block; 
	position: absolute; 
	width: 100px;
	left:50%; 
	margin-left: -50px;
	bottom: -51px;
	background: url(../images/pagination.png) 0 0 repeat-x #e4d9cf;
	padding: 10px 0 0 0;
	border-bottom: 1px solid #c6bab2;
	border-radius: 30px;
	text-align: center;
	z-index:15;
	box-shadow:0 1px 4px rgba( 65, 44, 44,0.4);
	}
.flex-control-nav li {
	margin: 0 3px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
	}
.flex-control-paging li a {
	width: 9px; 
	height: 9px; 
	display: block; 
	background: url(../images/pag.png) right 0 no-repeat;
	cursor: pointer; 
	text-indent: -9999px;
	}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active{ background-position: 0 0;}

.flex-control-thumbs {
	margin: 5px 0 0; 
	position: static; 
	overflow: hidden;
	}
.flex-control-thumbs li {
	width: 25%; 
	float: left; 
	margin: 0;
	}
.flex-control-thumbs img {
	width: 100%; 
	display: block; 
	cursor: pointer;
	}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 995px) {
  .flexslider {
	  height: auto;
	  min-height:140px;
	  width: auto;
	}
	.banner{display: none;}
}
@media only screen and (max-width: 767px) {
	.flex-caption{display:none;}
	.flexslider {
	  height: auto;
	  min-height:100px;
	}

}