article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties -------------------------------------------------------- */
html {width:100%}

body {
	font-family: Arial, Helvetica, sans-serif; 
	font-size:13px; 
	line-height:20px; 
	color:#81716b; 
	background:#3d2929; 
	-webkit-text-size-adjust: none;
	}
.main{
	width:100% ;
	margin:0 auto;
	background:#fff;
	height:auto;
	}
p{padding-bottom: 20px;}
/*********************************fonts*************************************/
.txt-up{text-transform:uppercase;}
.border-none{border: none !important;}
.bg-none{background: none !important;}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}
.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{margin-left:0 !important; margin-right:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.bot{margin-bottom: 23px;}
.bot-1{margin-bottom: 13px;}
.bot-2{margin-bottom: 6px;}

.divider{
	border-top: 3px solid #e4d9ce;
	margin: 0 5px 33px 5px;
	}
.divider-1{
	border-top: 3px solid #e4d9ce;
	margin: 20px 0 33px 0;
	}
/*********************************CLASSES**********************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper, .wrapper-extra, .extra-wrap{overflow:hidden;}
.wrapper-after:after{
 clear:both;
 content:".";
 display:block;
 height:0;
 visibility:hidden;}
.fleft {float:left;}
.fright {float:right;}
a[href^-"tel:"]{color: inherit; text-decoration:none;}
-webkit-text-size-adjust: none;
/*-------------------------------->> GOOGLE FONTS  <<----------------------------------------*/
@import url(http://fonts.googleapis.com/css?family-PT+Sans+Narrow:400,700);/*font-family: 'PT Sans Narrow', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family-Passion+One:400,700);/*font-family: 'Passion One', cursive;*/
/*------------------------------------ Links -------------------------------------------------------- */
/*-------------------------------->> H <<----------------------------------------*/
h2,h3,h4{
	font-weight:normal;
	text-transform:uppercase;
	}
h2{
	font-size:  22px; 
	line-height:  30px; 
	color:#4e3f2b;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	}
h3{
	font-size:  16px; 
	line-height:  20px; 
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color:#81716b;
	}
	h3 a{color:#81716b;}
	h3 a:hover{color: #eaaf00;}
	h3 span{display: block;}
h4{
	font-size:  16px; 
	line-height:  20px; 
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color:#81716b;
}
h4 a{color:#81716b;}
h4 a:hover{color:#eaaf00 ; }
a {
	color:#81716b ;
	outline:none; 
	text-decoration:none; 
	cursor:pointer;
	}
a:hover{
	color:#eaaf00 ; 
	text-decoration:none;
	}
.link{
	display: inline-block;
	background: url(../images/bg-link.png) 0 0 no-repeat;
	width: 15px;
	height: 15px;
	margin: 3px 0 0 0;
}
.link:hover{background-position: 0 bottom;}
.button{
	display:inline-block; 
	padding:8px 19px 9px 19px;  
	font-size: 11px; 
	line-height:1.2em; 
	background: url(../images/bg-button.jpg) 0 0 repeat-x #e4d9cf;
	position: relative;
	border-top: 1px solid #fff;
	border-radius: 30px;
	font-weight: bold;
	overflow: hidden;
	text-transform: uppercase;
	z-index: 1;
	box-shadow:0 1px 4px rgba( 65, 44, 44, 0.4);
	color:#81716b;
	}

.button:hover{
	color:#fff;
	border-top: 1px solid #d39702;
	background: url(../images/button-hov.jpg) 0 0 repeat-x #d39702;
	box-shadow:none;
	}

.main-width{width: 100%;}
.figure-img{
	display: inline-block;
	padding: 5px;
	background: #e4d9ce;
	margin-bottom: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.figure-img img{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.img-indent{
	overflow: hidden;
	margin-bottom: 13px;
	}
.img-indent h3{
	margin: 0 0 6px 0; 
	white-space: nowrap;
}
.img-indent figure.figure-img{
	float: left;
	margin: 0 20px 15px 0;
}
.img-indent .extra-wrap{overflow: hidden;}

.img-indent-1{
	overflow: hidden;
	margin-bottom: 5px;
	}
.img-indent-1 img{
	float: left;
	margin: 0 18px 0 0;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}
.img-indent-1 .extra-wrap{overflow: hidden;}
/*********************************header*************************************/
header {
	padding:37px 0 0 0;
	background: url(../images/bg-header.jpg) center 0 no-repeat;
	}
header .wrapper{
	text-align: center;
	position: relative;
	}
header h1{
	display: inline-block;
	overflow:hidden;
	margin-bottom: 40px;
	}
header h1 span{
	position: absolute;
	left: -1000px;
	display:inline-block;
	}
header h1 a {
	display: inline-block;
	}

.social{
	position: absolute;
	right: 5px;
	bottom: 38px;
	}
.social a{
	display:inline-block;
	width: 26px;
	height: 26px;
	margin:0;
	}
	.social a:hover{
		opacity: 0.5;
		filter: alpha(opacity-50);
	}
.div-search{
	float:right;
	margin:0;
	border-bottom: 1px solid #544242;
	border-radius: 31px;
	font-family: Arial, Helvetica, sans-serif  ; 
	background: url(../images/search-input.jpg) 0 0 repeat-x; 
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	margin: 13px 5px 0 0;
	box-shadow: inset 0 -1px 0 #31201b;
	}
	#search input{
		width: 150px; 
		height: 30px; 
		color:#fff;  
		display: inline-block;
		border: none;
		float:left; 
		background: none;
		padding: 7px 18px 7px 18px; 
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
	#search .search_button{
		background: url(../images/search-button.jpg) 0 0 repeat-x #e4d9cf; 
		display:inline-block;
		float: right;
		color: #81716b;
		padding:8px 20px 6px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif; 
		border-radius: 30px;
		}
	#search .search_button:hover{
	     background:#f5b400;
	     color: #fff;
		}
/*********************************content*************************************/
#content{
	width: 100%;
	background: url(../images/bg-content.jpg) center 0 no-repeat #f7eee4;
	padding: 0 0 15px 0;
}
#pages #content{
	padding: 43px 0 35px 0;
	background: url(../images/bg-content-1.jpg) center 0 repeat-y #f7eee4;
	}
#pages #content h3{line-height: 25px;}
/*------------------------------->> Paragraphs <<-----------------------------*/
.pp{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	color: #eaaf00;
	}
	.pp:hover{color: #000;}
/*-------------------------------->> LISTS <<----------------------------------------*/
.list{}
.list li{
	background: url(../images/bg-list-li.png) 0 12px no-repeat; 
	padding:8px 0 9px 15px;
	font-size:11px;
	line-height: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	}
.list a{color:#81716b;}
.list a:hover{color:#eaaf00 ;}
/*-------------------------------->> hovers <<----------------------------------------*/

.main-caorusel{
	height: 300px;
}

/*********************************page_1*************************************/

/*********************************page_2*************************************/
.block{
	background: #e4d9ce;
	padding: 20px 20px 20px 20px;
	margin-bottom: 10px;
}
.block figure.figure-img{
	background: #fff;
	width: 100%;
	}
.block p{padding-bottom: 0;}
/*********************************page_6*************************************/
/* Contact form */
#contact-form {padding:10px 0 0 0;position: relative;}
#contact-form fieldset{}
	#contact-form .success { 
		padding:10px;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		background: #442e2e;
		color: #fff;
		z-index: 100;
		border-radius: 10px 10px 10px 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
	#contact-form textarea, #contact-form input {
		font-size: 13px; 
		line-height:20px;
		border: none;
		border-bottom: 1px solid #fff;
		color:#81716b; 
		box-shadow: inset 0 1px 4px rgba( 59, 39, 39, 0.3);
		padding: 6px  14px 6px;
		outline:none;
		position:relative; 
		font-family: Arial, Helvetica, sans-serif; 
		background: #e3d7cd;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
		}
	#contact-form input {
		width:230px;
		height: 31px;
		}
	#contact-form textarea {
		overflow:auto; 
		width:230px; 
		height: 217px;
		resize:none; 
		margin: 0 0 0 0;
		}
	#contact-form .div-label{
		min-height:40px; 
		overflow:hidden;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		}	
	#contact-form label {
		position: relative;
		display:block;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}	
	#contact-form label.message {
		display:block; 
		padding-bottom:0;
		}	
	#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}	
	#contact-form .error, #contact-form .empty {
		text-align:left; 
		color:red; 
		font-size:11px; 
		clear:both;
		position: absolute;
		right: 5px;
		top: 5px;
		}
	#contact-form .buttons2 {
		overflow:hidden;
		text-align:left;
		position:relative; 
		clear:both; 
		padding:25px 0 20px 0;
		}
	#contact-form .buttons2 a {
		cursor:pointer;
		margin-top:0;
		text-align:center;
		margin-right:7px;
		margin-left: 3px;
	}
	#contact-form span{
		display:block; 
		margin: 0px 0 0 5px;
		}

	.map_wrapper{
		overflow:hidden;
		display:inline-block;
		padding: 5px;
		width: 480px;
		float: left;
		background: #e4d9ce;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#map_canvas {
	   display: block;
	   height:386px;
	   width: 470px;
	   -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.div-adress{
		width: 190px;
		float: left;
		padding: 0 0 0 17px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.adress{
		font-size:13px;
		line-height:20px;
		color: #81716b;
		font-family:  Arial, Helvetica, sans-serif;
		margin-bottom: 18px;
		}
	.adress span{
		display:inline-block; 
		width:70px;
		}
	.adress dt{color:#252832;}
	.adress dt strong{
			font-size:  16px; 
			line-height:  25px; 
			font-family: 'PT Sans Narrow', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			color:#81716b;
			display: block;
			margin-bottom: 11px;
		}
	.adress a{
		font-size: 11px;
		color:#eaaf00;
		font-weight: bold;
		text-transform: uppercase;
		}
		.adress a:hover{color:#000;}
/****************************footer************************/

#toTop {
	display:none;
	width: 56px;
	height:54px;
	overflow:hidden;
	background: url(../images/top.png) no-repeat 0 0 ;
	position:fixed;
	margin-right:-660px !important;
	right:50%;
	bottom:73px;
	z-index:999;
}
#toTop:hover{background-position:-60px 0;}

footer {
	background: url(../images/footer.jpg) 0 0 repeat-x #3d2929;
	border-top: 1px solid #3b2727;
	padding:19px 0 25px 0;
	position: relative;
	font-size: 11px;
	color: #f3efea;
	font-weight: bold;
	overflow: hidden;
	text-transform: uppercase;
	text-shadow: 0 1px 1px #3c2b2b;
	}
footer img{margin-top: -3px;}
footer a{color: #f3efea;}
footer a:hover{color: #eaaf00;}
.txt-alr{text-align: right;}
/*----------------------------------RESPONSIVE LAYOUTS-----------------------------------------------*/
@media only screen and (max-width: 995px) {
 body{min-width:768px;}
 #contact-form textarea, #contact-form input{width: 182px;}
 .div-search{margin: 8px 0 0 0;}
 .img-indent h3{white-space: normal;}
 .img-indent .extra-wrap{overflow: visible;}
.img-indent-1 .extra-wrap{overflow: visible;}
.map_wrapper{width: 100%;}
#map_canvas{width: 100%;}
.div-adress{
	float: left;
	width: 100%;
	padding: 0;
}
.div-adress .adress{
	float: left;
	margin: 20px 20px 0 0;
	}
#toTop {
	display: none !important;
}
.div-search{margin-right: 5px;}

}
@media only screen and (max-width: 767px) {	

.block-1 figure.figure-img{
	float: left;
	margin: 0 15px 15px 0;
}
 body{min-width:420px;}
.social{
	position: relative;
	display: block;
	width: 100%;
	margin: 10px 0 0 0;
	}
header, #content{background: #f5ece2;}
.box-1 .grid_4{width: 200px;margin: 0 10px 15px 0;}
.box-1 .grid_4 figure.figure-img{
	width: 100%;
	margin: 0 0 0 0;
	}

.div-search{
	margin: 8px 0 0 0;
	background: #fff; 
	border-bottom: 1px solid #766969;
	box-shadow: none;
	float: none;
	width: 100%;
	}
#search input{color: #000;}
.nav-div{padding-bottom: 6px;}
.txt-alr{text-align: left;}
footer .grid_12{margin-bottom: 3px !important;}
 #contact-form textarea, #contact-form input{width: 100%;}
}

@media only screen and (max-width: 479px) {
 body{min-width:300px;}
 .div-adress .adress{
	float: none;
	margin: 15px 0 0 0;
	}
.width-100{width: 100%;}
.box-1 .grid_4{width: 100%;margin: 0 0 20px 0;}
.box-1 .grid_4 figure.figure-img{width: 100%;margin-bottom: 15px;}
.block-img figure.figure-img{width: 100% !important;}

}
