.nav-div{
	background: url(../images/bg-nav.jpg) 0 0 repeat-x #3b2727;
	position: relative;
	z-index: 2;
	}
	.nav-div:after, .nav-div:before{
		content: "'";
		display: block;
		position: absolute;
		width: 100%;
		height: 19px;
		left: 0;
		z-index: 500;
	}
	.nav-div:before{
		background: url(../images/nav-before.png) 0 0 repeat-x;
		top: -19px;
	}
	.nav-div:after{
		background: url(../images/nav-after.png) 0 0 repeat-x;
		height: 25px;
		bottom: -25px;
	}
nav{
	position:relative;
	margin: 0 10px;
	float: left;
	}
.sf-menu ul {position:absolute;top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li {
	float:left;
	position:relative;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight:700;
	text-transform:uppercase;
	z-index:1;
	text-shadow:0 1px #3a2a2a;
	border-bottom: 1px solid transparent;
	}
.sf-menu li.sub-menu:after{
	display:block;
	position:absolute;
	content:'';
	width:7px;
	height:5px;
	top:75%;
	left:50%;
	margin-left: -4px;
	background: url(../images/indicator.png) 0 0 no-repeat;
	}
.sf-menu>li>a{
	display:block;
	position:relative; 
	font-size: 9pt;
	line-height: 20px;
	padding: 19px 35px 15px 35px; 
	color:#f3efea;
	}
.sf-menu>li:hover, .sf-menu>li.current, .sf-menu>li.sfHover{
	background: url(../images/bg-li-hov.jpg) 0 0 repeat-x;
	border-bottom: 1px solid #f5ba16;
	}
.sf-menu>li>a:hover,.sf-menu>li.current>a,.sf-menu>li.sfHover>a{
	color: #fff;
	text-shadow: 0 1px #f4a700;
	}

/*-------------------------------->> 2 Level <<----------------------------------------*/
.sf-menu>li>ul,.sf-menu>li.sfHover>ul{
	left:-3px;
	top:56px;
	width: 138px;
	padding:8px 0 8px 0; 
	z-index:99;
	background: url(../images/bg-li-ul.jpg) 0 0 repeat-x #3b2727;
	border-top:1px solid #3b2727;
	box-shadow:0 2px 10px rgba( 135, 115, 104, 1);
	}
.sf-menu>li>ul>li{
	display:block;
	width:100%;
	text-shadow:0 1px #3a2a2a;
	}
.sf-menu>li>ul>li>a{
	font-size: 8pt;
	line-height: 20px;
	display:block;
	color:#fff;
	cursor: pointer;
	text-align: center;
	padding: 6px 0 5px;
	}
.sf-menu>li>ul>li:hover,
.sf-menu>li>ul>li.sfHover{
    background: url(../images/bg-li-li.jpg) 0 0 no-repeat #f5ba16;
    background-size: 100% 100%;
}
.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{color:#fff;text-shadow: 0 1px #f4a700;}
.sf-menu li.sfHover li.sfHover:after{
	display:block;
	position:absolute;
	content:'';
	background: url(../images/bg-ul-after.png) 0 0 no-repeat;
	width:5px;
	height:9px;
	margin-top: -4px;
	content:'';
	left:90%;
	top:50%;
	}
/*-------------------------------->> 3 Level <<----------------------------------------*/
.sf-menu li li ul{
	left:140px;
	top:-8px;
	width: 138px;
	padding:8px 0 8px 0; 
	z-index:99;
	background: url(../images/bg-li-ul.jpg) 0 0 repeat-x #3b2727;
	border-top:1px solid #3b2727;
	box-shadow:0 2px 10px rgba( 135, 115, 104, 1);
	}
.sf-menu li li li{
	display:block;
	width:100%;
	text-shadow:0 1px #3a2a2a;
	}
.sf-menu li li li a{
	font-size: 8pt;
	line-height: 20px;
	display:block;
	color:#fff;
	cursor: pointer;
	text-align: center;
	padding: 6px 0 5px;
	}
.sf-menu li li li:hover{background: url(../images/bg-li-li.jpg) 0 0 repeat-x #f5ba16;}
.sf-menu li li li a:hover{color:#fff;text-shadow: 0 1px #f4a700;}
/*----------------------------------RESPONSIVE LAYOUTS-----------------------------------------------*/
@media only screen and (max-width: 995px) {

.sf-menu>li>a{
	padding: 15px 15px 13px 15px;
	line-height: 20px;
	font-size: 12px;
	}


}

@media only screen and (max-width: 767px) {
.nav-div{position: static;}	
.nav-div:after, .nav-div:before{display: none;}
  nav{
		float:none;
		font:12px/15px Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		color:#fff;
		padding:8px 3px 0 3px;
		margin: 13px 0 0;
		border-radius: 4px;
	}
		nav:before{
			content:'Menu:';
			display:block;
			margin-bottom:5px;
		}
	.sf-menu{display:none;}
	nav select{
		font:12px/15px Arial, Helvetica, sans-serif;
		color:#464646;
		width:100%;
        outline: none;
		border:2px solid #9e9e9e;
		border-radius: 3px;
		z-index: 1000;
	}
	
}

@media only screen and (max-width: 479px) {


}