<div class="container_24">
    <div class="wrapper">
        <article class="grid_24">
            <h2 class="bot">{$galleries[$gallery]}</h2>
        </article>
        {foreach $albums as $album}
        {$album_link = "/album/"|cat:$gallery|cat:"/"|cat:$album['name']}
        <article class="grid_8">
            <div class="block maxheight">
                <figure class="figure-img">
                    <a href="{$album_link}">
                        <img height="179" src="{$album['cover']}" alt="">
                    </a>
                </figure>
                {if isset($album['caption'])}
                {if isset($album['caption']['name'])}
                <h3>{$album['caption']['name']}</h3>
                {/if}
                {if isset($album['caption']['text'])}
                <p>{$album['caption']['text']}<a href="{$album_link}" class="link"></a></p>
                {/if}
                {/if}
            </div>
        </article>
        {/foreach}
    </div>
</div>