body {
    background: #fff;
}

.display-block {
    display: block;
}


.display-inline-block {
    display: inline-block;
}

.hide {
    display: none;
}

.border-radius-none {
    border-radius: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.max-width-242px {
    max-width: 242px;
}

.max-height-200px {
    max-height: 200px;
}

.width-216px {
    width: 216px;
}

.height-162px {
    height: 162px;
}

.bg-grey {
    background: #e5e5e5;
}

.opacity-0 {
    opacity: 0;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-bottom-30px {
   margin-bottom: 30px;
}

#gallery-preview-img {
    width: 216px;
    height: 162px;
}

#album-preview-img {
    width: 150px;
    height: 110px;
}