<div class="galleries">
    <table class="galleries__table table table-striped">
        <tr>
            <td><a href="/admin_panel/gallery/houses">{$lang_vars.houses}</a></td>
        </tr>
        <tr>
            <td><a href="/admin_panel/gallery/stairs">{$lang_vars.stairs}</a></td>
        </tr>
        <tr>
            <td><a href="/admin_panel/gallery/roofing">{$lang_vars.roofing}</a></td>
        </tr>
        <tr>
            <td><a href="/admin_panel/gallery/windows">{$lang_vars.windows}</a></td>
        </tr>
        <tr>
            <td><a href="/admin_panel/gallery/recent_works">{$lang_vars.recent_works}</a></td>
        </tr>
    </table>
</div>