<div id="gallery" class="display-inline-block">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="bg-grey gallery-preview-img">&nbsp;</div>
            <div class="caption">
                <a href="/admin_panel/gallery/{$gallery_name}/add_album" id="add-album" class="btn btn-primary">{$lang_vars.add}</a>
            </div>
        </div>
    </div>
    {foreach $albums as $album}
    <div class="col-sm-6 col-md-4">
        <a class="thumbnail" href="/admin_panel/gallery/{$gallery_name}/{$album.name}">
            <img class="gallery-preview-img" src="{$album.cover}?q={1|rand:10000}" alt=""/>
            <div class="caption">
                <button id="remove-album" data-gallery="{$gallery_name}" data-album="{$album.name}" class="btn btn-danger">{$lang_vars.remove}</button>
            </div>
        </a>
    </div>
    {/foreach}
</div>
<div>
    {if $paging_model.pages > 1}
        {include file='pagination.tpl.html'}
    {/if}
</div>