{$gallery}
<div class="container_24">
    <div class="divider" style="margin-top: 20px"></div>
    <div class="wrapper">
        {foreach $images as $img}
        <figure class="figure-img">
            <img src="{$img}" alt=""/>
        </figure>
        {/foreach}
    </div>
</div>
