<form id="add-album" action="/action/admin_panel/album/add">
    <input type="hidden" name="gallery_name" value="{$gallery_name}">
    <div class="row">
        <div class="col-lg-4 padding-right-5px">
            <input name="photos" readonly class="form-control" id="photos-names" type="text"/>
        </div>
        <div class="col-lg-4 padding-0">
            <button class="btn btn-primary" id="select-photo">{$lang_vars.select_photo}</button>
        </div>
        <input name="images" type="file" multiple class="opacity-0"/>
    </div>
    <div class="row">
        <div id="thumbnails">

        </div>
    </div>
    <div class="row">
        <br>
        <div class="col-lg-5">
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="{$lang_vars.add}"/>
            </div>
        </div>
    </div>
</form>