{function is_content_editable is_admin=false}
{if $is_admin}
    contenteditable="true"
    data-save-url="/action/articles/update/{$welcome_article.id}"
{/if}
{/function}

<style>
    #content {
        padding: 0!important;
    }
</style>
{$slider}
<div class="container_24">
    <div class="grid_24">
        <h2 class="bot">{$lang_vars.recent_projects}</h2>
    </div>
    <div class="clear"></div>
    {$carousel}
    <div class="divider"></div>
    <div class="wrapper">
        <article class="grid_7">
            <h2 class="bot-1">{$lang_vars.prices}</h2>
            {$prices_list}
        </article>
        <article class="grid_10 suffix_1">
            <h2 class="bot">{$lang_vars.welcome_to_site}</h2>
            <div {is_content_editable is_admin=$is_admin}>
                {$welcome_article.text}
            </div>
        </article>
        <article class="grid_6">
            <h2 class="bot">{$lang_vars.news}</h2>
            <!--
            <div class="img-indent">
                <figure class="figure-img"><img src="images/page-img-5.jpg" alt=""></figure>
                <div class="extra-wrap">
                    <h3 class="bot-2">Vestim liberom</h3>
                    <p>Consec uercng elisedun diam nonum nibeu. <a href="#" class="link"></a></p>
                </div>
            </div>
            <div class="img-indent">
                <figure class="figure-img"><img src="images/page-img-6.jpg" alt=""></figure>
                <div class="extra-wrap">
                    <h3 class="bot-2">Sed perpis unde</h3>
                    <p>Consec uercng elisedun diam nonum nibeu. <a href="#" class="link"></a></p>
                </div>
            </div>
            <a href="#" class="button bot-2">view all</a>
            -->
        </article>
    </div>
</div>